*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: rgb(90, 57, 57);
}
h1 span {
    color: #f1c40f;
}
h3{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 25px;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}
h2 span{
    color: #f1c40f;
}
p{  
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: #462512b7;
    padding-top: 50px;
}
.top-div{
    display: flex;
    background-image: url(./images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.half-width{
    width: 50%;
    padding: 50px;
    
}
.extra{
    margin-top: 60px;
    margin-left: 20px;
}
.half-width img{
    width: 85%;
}
.ex-height{
    height: 568px;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 13px 30px;
    border-radius: 20px;
    color: rgb(25 58 36);
    font-weight: 900;
    box-shadow: 1px 1px 2px 0px grey;
    
}
.button{
    margin-top: 60px;
}
.body-div{
    display: flex;
    background-image: url(./images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.body-div p{
    text-align: justify;
}
.top-footer{
    text-align: center;
    padding: 80px;
}
.recipes-sation{
    display: flex;
}
.half-sation{
    width: 26%;
    border: 2px solid white;
    margin-left: 75px;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px grey;
    padding-bottom: 20px;
}
.half-sation p{
    margin-left: 15px;
    padding-top: 20px;
}
.half-sation img{
    width: 367px;
    margin: 13px;

}
.footer{
    text-align: center;
    background-color:#34495e ;
    padding: 30px;
    margin-top: 100px;
}
.footer p{
    color: #ecf0f1;
}
